/* CSS Reset */
*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
/* :root{
    --navbar-height: 59px;
} */

/* Navigation Bar */

#navbar{
    display: flex;
    align-items: center;
    top:0px;
    position: sticky;
}
#navbar h1{
    font-size: 28px;
    /* font-family: 'Baloo Bhai 2', cursive; */
}
/* logo */
#logo{
    margin: 0px 0px;
}

#logo img{
    height: 89px;
    width: 124px;
    /* margin:10px 10px; */

}
/* list styling */
#navbar ul{
    display: flex;
    /* font-family: 'Baloo Bhai 2', cursive; */
    position: relative;
}

#navbar::before{
    content: "";
    background-color: #e99178;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1.0;
}
#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
    position: relative;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius:20px ;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* home section */
#home{
    display:flex;
    flex-direction:column;
    padding: 3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
    background: url('image/home.jpg') no-repeat center center/cover;

}
/* #home::before{
    content: "";
    position: absolute;
    background: url('image/home.jpg') no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 642px;
    width: 100%;
    z-index: -1;
    opacity: 0.89; */
/* } */
#home h1{
    color: black;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
#home .track{
    margin: 30px 20px;
    width: 50%;
}
#home input{
    width: 90%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    margin-left: 17px; 
}
/* services section */
#services{
    margin: 30px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 12px;
    margin: 2px 55px;
    border-radius: 28px;
    margin-bottom: 20px;
    width:388px;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}
#clients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* #client-section{
    /* height:344px; */
    /* position: relative; */
 /* } */
#client-section::before{
    content: "";
    /* position:absolute; */
    /* background: url('image/11.webp') no-repeat center center/cover; */
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}
#clients img{
    height: 124px;
}
.client-item{
    padding: 34px;
}
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('image/12.webp') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
#footer{
    background-color: #333;
    /* color: white; */
    padding: 2px;
    width: 100%;
    height: 397px;
    /* display: flex; */
    /* position: relative; */
    /* opacity: 0.9; */
}
#footer1{
    display: flex;
}
/* #footer::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
} */
#map{
    margin: 30px;
    display: flex;
}

/* utility classes */
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.btn{
    padding: 6px 20px;
    border:2px solid white;
    background-color: maroon;
    color: white;
    margin: 5px;
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}
.btn2{
    padding: 3px 32px;
    border:2px solid white;
    background-color:blue;
    color: white;
    margin: 17px;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    /* font-family: 'Baloo Bhai 2', cursive; */
    text-decoration: none;
}
.btn2 a{
    text-decoration: none;
    color: white;
}
.center{
    text-align: center;
}
.ul{
    margin-left: 300px;
}
.dropdown{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    /* background-color: black; */

}
#navbar ul li .dropdown ul{
    display: block;
    margin-top: 35px;
    /* background-color: black; */
    height: 100%;
    /* border-radius: 10px; */
    /* opacity: 0.4; */
    color: white;
}
#navbar ul li .dropdown::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    border-radius: 10px;
    margin-top: 40px;
}
#navbar ul li .dropdown ul li{
    font-size: 17px;
    width: 150px;
    padding: 10px;
    /* color: white; */
    /* border-bottom: 1px dotted white; */
    /* background: transparent; */
    text-align: center;
}
/* .dropdown ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    text-align: left;
} */
#navbar ul li:hover .dropdown{
    display: block;
    position: absolute;
    /* background-color: blue; */
}
.about{
    width: 500px;
    height: 100px;
    /* border: 2px solid red; */
    float: left;
    /* border-bottom: 2px solid white; */
    color: white;
    text-align: left;
    padding: 10px;
    margin-left: 150px;
}
.about p{
    padding-top: 30px;
}
.questions{
    width: 381px;
    height: 91%;
    /* border: 2px solid red; */
    float: right; 
    margin-left: 328px;
    color: white;
    padding: 10px;
    /* position: relative; */
}
.border{
    border-bottom: white 3px solid;
    width: 50px;
    margin-top: 8px;
}
.border1{
    border-bottom: white 3px solid;
    width:105px;
    margin-top: 8px;
}
.about h2{
    /* border-bottom: 2px solid white; */
    /* font-size: 5px; */
}
.log{
    /* border: 2px solid red; */
    display: flex;

}
.ico1{
    /* content: "\e8b4"; */
    /* border: 1px solid red; */
    width: 170px;
    height: 59px;
    /* position: absolute; */
    margin-top: 50px;
    /* font-size: 20px; */
    display: flex;
}
.ico2{
    /* border: 1px solid red; */
    width: 170px;
    /* height: 30px; */
    /* position: absolute; */
    margin-top: 50px;
    /* font-size: 20px; */
    display: flex; 
}
/* .ico1 i{
    padding-top: 15px; */
/* } */
.ico1 h2 ,
.ico2 h2{
    margin-left: 43px;
    font-size: 15px;
}
.footer2{
    color: white;
    text-align: center;
    /* border: 1px solid red; */
    width: 700px;
    /* display: flex; */
    margin-left: 400px;
    /* justify-content: center; */
    padding: 5px;
    margin-top: 20px;

}
.al{
    width: 100%;
    background-color:#e55555;
    color: #000000e3;
    height: 31px;
    /* text-align: center; */
    /* content:""; */
}
.al h3{
    padding: 4px;
}

